<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdcplus.vendor.mapper.BidAttachmentMapper">

    <resultMap type="com.xdcplus.vendor.common.pojo.entity.BidAttachment" id="BidAttachmentMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="bidSheetId" column="bid_sheet_id" jdbcType="INTEGER"/>
        <result property="bidVendorId" column="bid_vendor_id" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="bidType" column="bid_type" jdbcType="VARCHAR"/>
        <result property="vendorVisible" column="vendor_visible" jdbcType="INTEGER"/>
        <result property="attachmentType" column="attachment_type" jdbcType="VARCHAR"/>
        <result property="attachmentName" column="attachment_name" jdbcType="VARCHAR"/>
        <result property="attachmentUrl" column="attachment_url" jdbcType="VARCHAR"/>
        <result property="uploadingUser" column="uploading_user" jdbcType="VARCHAR"/>
        <result property="uploadingDate" column="uploading_date" jdbcType="INTEGER"/>
        <result property="createdUser" column="created_user" jdbcType="VARCHAR"/>
        <result property="createdTime" column="created_time" jdbcType="INTEGER"/>
        <result property="updatedUser" column="updated_user" jdbcType="VARCHAR"/>
        <result property="updatedTime" column="updated_time" jdbcType="INTEGER"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
        <result property="deleted" column="deleted" jdbcType="INTEGER"/>
    </resultMap>

    <!--通过实体作为筛选条件查询-->
    <select id="queryBidAttachment" resultMap="BidAttachmentMap">
        select
          id, bid_sheet_id, bid_vendor_id, type, bid_type, vendor_visible, attachment_type, attachment_name, attachment_url, uploading_user, uploading_date, created_user, created_time, updated_user, updated_time, description, version, deleted
          from scm_bid_attachment
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="bidSheetId != null">
                and bid_sheet_id = #{bidSheetId}
            </if>
            <if test="bidVendorId != null">
                and bid_vendor_id = #{bidVendorId}
            </if>
            <if test="type != null and type != ''">
                and type = #{type}
            </if>
            <if test="bidType != null and bidType != ''">
                and bid_type = #{bidType}
            </if>
            <if test="vendorVisible != null">
                and vendor_visible = #{vendorVisible}
            </if>
            <if test="attachmentType != null and attachmentType != ''">
                and attachment_type = #{attachmentType}
            </if>
            <if test="attachmentName != null and attachmentName != ''">
                and attachment_name = #{attachmentName}
            </if>
            <if test="attachmentUrl != null and attachmentUrl != ''">
                and attachment_url = #{attachmentUrl}
            </if>
            <if test="uploadingUser != null and uploadingUser != ''">
                and uploading_user = #{uploadingUser}
            </if>
            <if test="uploadingDate != null">
                and uploading_date = #{uploadingDate}
            </if>
            <if test="createdUser != null and createdUser != ''">
                and created_user = #{createdUser}
            </if>
            <if test="createdTime != null">
                and created_time = #{createdTime}
            </if>
            <if test="updatedUser != null and updatedUser != ''">
                and updated_user = #{updatedUser}
            </if>
            <if test="updatedTime != null">
                and updated_time = #{updatedTime}
            </if>
            <if test="description != null and description != ''">
                and description = #{description}
            </if>
            <if test="version != null">
                and version = #{version}
            </if>
            <if test="deleted != null">
                and deleted = #{deleted}
            </if>
        </where>
    </select>

</mapper>

