<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdcplus.biz.mapper.ProjectMemberMapper">

    <resultMap type="com.xdcplus.biz.common.pojo.entity.ProjectMember" id="ProjectMemberMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="projectId" column="project_id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="department" column="department" jdbcType="VARCHAR"/>
        <result property="post" column="post" jdbcType="VARCHAR"/>
        <result property="createdUser" column="created_user" jdbcType="VARCHAR"/>
        <result property="createdTime" column="created_time" jdbcType="INTEGER"/>
        <result property="updatedUser" column="updated_user" jdbcType="VARCHAR"/>
        <result property="updatedTime" column="updated_time" jdbcType="INTEGER"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
        <result property="deleted" column="deleted" jdbcType="INTEGER"/>
    </resultMap>

    <!--通过实体作为筛选条件查询-->
    <select id="queryProjectMember" resultMap="ProjectMemberMap">
        select
          id, project_id, user_id, name, email, department, post, created_user, created_time, updated_user, updated_time, description, version, deleted
          from scm_project_member
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="projectId != null">
                and project_id = #{projectId}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="email != null and email != ''">
                and email = #{email}
            </if>
            <if test="department != null and department != ''">
                and department = #{department}
            </if>
            <if test="post != null and post != ''">
                and post = #{post}
            </if>
            <if test="createdUser != null and createdUser != ''">
                and created_user = #{createdUser}
            </if>
            <if test="createdTime != null">
                and created_time = #{createdTime}
            </if>
            <if test="updatedUser != null and updatedUser != ''">
                and updated_user = #{updatedUser}
            </if>
            <if test="updatedTime != null">
                and updated_time = #{updatedTime}
            </if>
            <if test="description != null and description != ''">
                and description = #{description}
            </if>
            <if test="version != null">
                and version = #{version}
            </if>
            <if test="deleted != null">
                and deleted = #{deleted}
            </if>
        </where>
    </select>

</mapper>

