<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdcplus.workflow.mapper.FunctionalStrategyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xdcplus.workflow.common.pojo.entity.FunctionalStrategy">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="type" property="type" />
        <result column="script" property="script" />
        <result column="weight" property="weight" />
        <result column="request_type_id" property="requestTypeId" />
        <result column="process_id" property="processId" />
        <result column="config_version" property="configVersion" />
        <result column="created_user" property="createdUser" />
        <result column="updated_user" property="updatedUser" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
        <result column="description" property="description" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, type, script, weight, request_type_id,
        process_id, config_version, created_user, updated_user,
        created_time, updated_time, description
    </sql>
    <select id="findFunctionalStrategies" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
        from xdc_t_functional_strategy
        where request_type_id = #{requestTypeId,jdbcType=BIGINT}
        and type = #{type,jdbcType=INTEGER}
    </select>

</mapper>
