<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdcplus.workflow.mapper.ProcessConfigLineMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xdcplus.workflow.common.pojo.entity.ProcessConfigLine">
        <id column="id" property="id" />
        <result column="process_id" property="processId" />
        <result column="from_mark" property="fromMark" />
        <result column="to_mark" property="toMark" />
        <result column="version" property="version" />
        <result column="label" property="label"/>
        <result column="created_user" property="createdUser" />
        <result column="updated_user" property="updatedUser" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
        <result column="description" property="description" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, process_id, from_mark, to_mark, version, label, created_user,
         updated_user, created_time, updated_time, description
    </sql>
    <select id="findConfigLineByProcessIdAndVersion" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
        from xdc_t_process_config_line
        <where>
            process_id = #{processId,jdbcType=BIGINT}
            <if test="version != null and version != ''">
                and version = #{version,jdbcType=VARCHAR}
            </if>
        </where>
    </select>


</mapper>
